<app-nav-bar></app-nav-bar>
<h1 class="text-center text-primary">
  SportsHub
</h1>
<h2 class="text-center text-primary">
  Create New Account
</h2>
<h2 class="text-center text-primary">
  Already Registered ? <a routerLink="/login">Login</a>
</h2>
<form [formGroup]="signupForm">
  <table class="table">
    <tr>
      <td>
        <label for="email">Email</label>
      <input formControlName="email" type="email" class="form-control" id="email" >
      </td>
    </tr>
    <tr>
      <td><label for="username">Pseudo</label>
      <input formControlName="username" type="text" class="form-control" id="username"></td>
    </tr>
    <tr>
      <td><label for="password">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password"></td>
    </tr>
    <tr>
      <button (click)="onSubmitSignup()" class="btn btn-primary" [disabled]="!signupForm.valid">Sign Up</button>    </tr>
  </table>
</form>
