<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mx-3">Admin Panel</a>
  <div class="collapse navbar-collapse">
    <div class="collapse navbar-collapse">
      <div class="d-flex flex-wrap">
        <button class="btn btn-outline-info me-2" (click)="navigateTo('admin-orders')">Orders</button>
        <button class="btn btn-outline-info me-2" (click)="navigateTo('admin-inventory')">Product Inventory</button>
        <button class="btn btn-outline-info me-2" (click)="navigateTo('admin-tickets')">Tickets</button>
        <button class="btn btn-outline-info me-2" (click)="navigateTo('admin-users-management')">Users</button>
        <button class="btn btn-outline-info me-2" (click)="navigateTo('admin-stats')">Stats</button>
        <button class="btn btn-danger ms-auto" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
