<app-nav-bar></app-nav-bar>
<div class="container mt-4">
  <h2>Shopping Cart</h2>
  <div *ngIf="cartItems.length === 0" class="alert alert-info">
    Your cart is empty.
  </div>
  <div *ngIf="cartItems.length > 0">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Product</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cartItems">
        <td>{{ item.name }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.price * item.quantity! }}</td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <h4>Total: {{total}}€</h4>
    </div>
    <div class="d-flex justify-content-end mb-3">
      <select class="form-select me-2 custom-width">
        <option value="card">Card</option>
        <option value="giftCard">Gift Card</option>
        <option value="paypal">PayPal</option>
      </select>

      <div class="d-flex justify-content-end">
      <button class="btn btn-dark" [disabled]="cartItems.length === 0" (click)="orderItems()" >Order</button>
    </div>
  </div>
</div>
