<app-nav-bar></app-nav-bar>
<div class="container mt-4">
  <h2>Shopping Cart</h2>
  <div *ngIf="cartItems.length === 0" class="alert alert-info">
    Your cart is empty.
  </div>
  <div *ngIf="cartItems.length > 0" style="height: 80vh;">
    <!-- Ag grid for cart items -->
    <ag-grid-angular
      style="width: 100%; height: 80%;"
      class="ag-theme-alpine"
      [rowData]="cartItems"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationPageSize]="paginationPageSize"
      [paginationPageSizeSelector]="paginationPageSizeSelector"
      (cellValueChanged)="onCellValueChanged($event)">
    </ag-grid-angular>

    <!-- Total display -->
    <div class="d-flex justify-content-end">
      <h4>Total: {{total}}€</h4>
    </div>

    <!-- Payement choice and order-->
    <div class="d-flex justify-content-end mb-3">
      <select class="form-select me-2 custom-width">
        <option value="card">Card</option>
        <option value="giftCard">Gift Card</option>
        <option value="paypal">PayPal</option>
      </select>

      <div class="d-flex justify-content-end">
        <button class="btn btn-dark" [disabled]="cartItems.length === 0" (click)="orderItems()" >Order</button>
      </div>
    </div>
  </div>

  <!-- Toast container -->
  <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1055;" (click)="$event.stopPropagation()">
    <ngb-toast
      *ngIf="show"
      [header]="toastHeader"
      [className]="'toast bg-light text-dark'"
      [autohide]="true"
      [delay]="3000"
      (hidden)="onToastHidden()"
    >
      {{ toastMessage }}
    </ngb-toast>
  </div>
</div>
