<div class="d-flex">
  <div class="d-flex flex-column my-4 m-3">
    <button class="btn btn-primary mb-2" (click)="filterByCategory(null)">All</button>
    <button class="btn btn-primary mb-2" (click)="filterByCategory('Equipment')">Equipments</button>
    <button class="btn btn-primary mb-2" (click)="filterByCategory('Clothe')">Clothes</button>

  </div>
  <div class="flex-grow-1">
    <div class="row me-3">

      <!-- Product Card -->
      <div *ngFor="let product of paginatedProducts" class="col-md-2 mb-4">
        <div class="card h-100 shadow-sm cursor-pointer hover-zoom hover-card rounded" (click)="viewProductDetails(product.id)">
          <div class="card-img-container rounded-top" style="background-color: white; padding: 10px;">
            <img [src]="product.imageUrl" alt="Product Image" class="card-img-top img-fluid" style="height: 120px; object-fit: contain;" />
          </div>
          <div class="card-body text-center d-flex flex-column justify-content-center rounded-bottom">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text fw-bold">{{ product.price }}€</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination with bootstrap-->
    <nav *ngIf="totalPages > 1" class="mt-4">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
        </li>
        <li
          *ngFor="let page of [].constructor(totalPages); let i = index"
          class="page-item"
          [class.active]="i + 1 === currentPage"
        >
          <button class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
