<div class="d-flex">
  <div class="d-flex flex-column my-4 m-3">
    <button class="btn btn-outline-primary mb-2" (click)="onClickAll()">All</button>
    <button class="btn btn-outline-primary mb-2" (click)="onClickEquipments()">Equipments</button>
    <button class="btn btn-outline-primary mb-2" (click)="onClickClothes()">Clothes</button>

  </div>
  <div class="d-flex flex-wrap">
    <div *ngFor="let product of filteredProducts$ | async" class = "product">
      <app-product-item [product]="product"></app-product-item>
    </div>
  </div>
</div>
