.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-title {
  font-size: 18px;
  margin: 10px 0;
  color:black;
}

.product-price {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}
